In [1]:
import json
#  load the training data
with open('./data/train/question.json', mode='r', encoding='utf-8') as fp:
    all_json: dict = json.load(fp)

In [26]:
all_json[5]

{'article_id': '24128',
 'article_type': '新闻',
 'article_title': '飞来的意外！美军机舷窗砸中冲绳小学操场',
 'article_content': '美国驻日本冲绳部队一架大型运输直升机的一个舷窗１３日上午坠落在当地一所小学的操场，导致一名学生受伤。这是本月发生在冲绳县的第二起美国军机部件高空坠落事件。【飞来的意外】《冲绳时报》报道，当地时间１３日上午１０时１５分，一个一米见方、像窗户一样的物体从高空落下，砸中宜野湾市普天间第二小学的操场。这家本地媒体登出的照片显示，坠物疑似直升机舷窗，带有金属框。宜野湾警察署说，坠物重达７.７公斤，窗框为金属制，透明部分由树脂制成。日本防卫省说，驻日美军１０时４０分向日方通报，美军一架ＣＨ―５３Ｅ型大型运输直升机在宜野湾附近飞行时，可能有物品坠落。警方随后封锁校园，回收坠物。１１时左右，隶属日本防卫省的冲绳防卫局派人到校参与调查。１１时９分，警方解除封锁。【增加的担忧】事故发生时，学校操场上大约４０名四年级学生正在上体育课，其中一名男生被溅起的小石子砸中左手，轻微受伤。按照冲绳县警方的说法，那个舷窗坠落的位置距离学生上课地点仅１０米左右。普天间第二小学现有在校生大约７００人，学校位于美军普天间基地北侧，中间仅有一道围栏相隔。事故引发校方和家长严重担忧。当地居民岛袋仁志的两个孩子都就读于这所小学。他告诉《冲绳时报》，自己听说发生坠物事故后赶忙跑到学校，却因封锁进不去“感到十分担忧”。另一名学生家长接受日本广播协会（ＮＨＫ）采访时说：“我听说有东西掉到学校，就给学校打电话，但一直打不通，所以直接赶过来。上周托儿所刚出现过类似的事情，怎么又发生了呢？”冲绳县知事翁长雄志临近中午时抵达事故现场。他说，虽然坠物已被回收，但“窗框的形状还清楚地留在操场上……孩子们的生命、财产受到了威胁。简直荒唐！”日本内阁官房长官菅义伟说：“此类情况不仅给校方、也给冲绳县民带来不安，绝不应发生。政府将继续收集信息，从美方获取详细信息后，将通知冲绳县。”【停不了的坠物】美军驻冲绳海军陆战队当天发表声明致歉：“美军十分重视此事，正展开调查。为保护现场，请当地人员不要进入现场。为因此给周边地区带来的不安道歉。”美军ＣＨ―５３Ｅ型运输直升机近来在冲绳频频出事。本月７日，一个属于驻日美军的高空坠物砸中普天间基地附近一家托儿所的屋顶，当时屋内有数名幼儿玩耍，所幸没有造成人员伤亡。事后，驻日美军承认坠物来自ＣＨ－５３Ｅ，但表示物品在飞行中坠落的可能性低。１０月１１日，一架ＣＨ―５３Ｅ在空中起火后紧急降落，虽然机组人员无恙，但事发地距离一片居民住宅区只有几百米，险些造成地面人员伤亡。２００４年，一架ＣＨ―５３Ｅ在冲绳国际大学校内坠毁起火，大学宿舍以及周围住宅因冲击受损。所幸当时正值假期，没有造成人员伤亡。ＣＨ―５３Ｅ型直升机全长约３０米，重１５吨，最多可一次运送５５人。据宜野湾市基地政策部统计，美军在普天间机场部署了１５架这一型号的直升机。日本军事记者世良光弘认为，ＣＨ―５３Ｅ机体老化是导致事故频发的原因。防卫副大臣山本智弘（音译）１３日与驻日美军司令杰里？马丁内斯在防卫省会谈，要求美方在确保安全前停飞ＣＨ―５３Ｅ。冲绳县政府当天下午向美军抗议，要求停飞所有军机。（刘秀玲）（新华社专特稿）',
 'questions': [{'questions_id': '224bca5f-7e6b-4dd7-af01-d3bb24a92321',
   'question': '美国驻日本冲绳部队一架大型运输直升机的一个舷窗什么时候坠落在当地一所小学的操场，',
   'answer': ' １３日上午',
   'question_type': '事实型问题'},
  {'questions_id': 'da5bd19c-14da-448f-83bb-d4fdb4077f21',
   'question': '飞来的意外！什么砸中冲绳小学操场',
   'answer': ' 美军机舷窗',
   'question_type': '事实型问题'},
  {'questions_id': '835ea5c3-4486-4309-b5ca-dcc66f469021',
   'question': '什么砸中冲绳小学操场',
   'answer': '美军机舷窗',
   'question_type': '事实型问题'},
  {'questions_id': 'a714af8e-a1ef-42da-a6ff-078a3a5c8555',
   'question': '飞来的意外！美军机舷窗砸中哪里',
   'answer': ' 冲绳小学操场',
   'question_type': '事实型问题'},
  {'questions_id': 'be980a14-9daa-46d1-b534-9fd0f2ffe23e',
   'question': '这家本地媒体登出的照片显示，坠物疑似直升机舷窗，带有金属框。宜野湾警察署说，坠物重达多少',
   'answer': ' ７.７公斤',
   'question_type': '数值型问题'}]}

In [3]:
import pandas as pd
import numpy as np

df_paragraph = pd.DataFrame(all_json)
df_question = pd.DataFrame()

for index, row in df_paragraph.iterrows():
    df = pd.DataFrame(row['questions'])
    df['article_id'] = row['article_id']
    df_question = pd.concat([df_question, df], ignore_index=True)

df_paragraph = df_paragraph.drop(['questions'], axis=1)
df_question.head()

/home/zydq/environments/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

,answer,article_id,question,question_type,questions_id
0,2,43014,雷电之神的特点主要有几个,数值型问题,a98df1fc-47ca-4873-8a44-2bdb1cb8be7f
1,14.6,43014,雷电之神耗资相当于多少亿元人民币,数值型问题,95bcaa43-e75c-4379-8854-69fd4dd887e9
2,陈虎：隐形无人机可破解攻击航母情报信息问题,43014,文章的内容是什么,篇章型问题,67f0d3ef-3c41-444c-a015-b0f86664c9b1
3,4年,43014,雷电之神耗时多久研制,事实型问题,e3b047e1-47a0-43c2-8e48-c561c5f248ab
4,第一，是高度的隐身第二， 雷电之神的个头比较大,43014,雷电之神的特点主要有哪几个,列表型问题,36c6e083-cffa-4dcc-a77f-b5f21bacad01

In [24]:
#df_paragraph.head()
df_paragraph['article_id'] = df_paragraph['article_id'].astype(int)
df_question['article_id'] = df_question['article_id'].astype(int)
df_pq_pairs = pd.merge(df_paragraph, df_question, how='inner', on=['article_id'])
df_pq_pairs.count()

article_content    97997
article_id         97997
article_title      97997
article_type       97997
answer             97997
question           97997
question_type      97997
questions_id       97997
dtype: int64

In [34]:
df_paragraph.to_csv('./data/train/paragraphs.csv', 
                    columns=['article_id', 'article_type', 'article_title', 'article_content'], index=False, sep='\t')
df_question.to_csv('./data/train/questions.csv', 
                    columns=['questions_id', 'article_id', 'question_type', 'question', 'answer'], index=False, sep='\t')

In [68]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
mpl.rcParams['font.sans-serif'] = ['simhei']
mpl.rcParams['font.serif'] = ['simhei']
sns.set_style("darkgrid", {"font.sans-serif":['simhei','Droid Sans Fallback']})

u, counts = np.unique(df_paragraph['article_type'], return_counts=True)
dict(zip(u, counts/len(df_paragraph) *1.0))

{'新闻': 0.6462, '防务快讯': 0.3538}

In [67]:
u, counts = np.unique(df_question['question_type'], return_counts=True)
dict(zip(u, counts/len(df_question) *1.0))

{'事实型问题': 0.4202883761747809,
 '列表型问题': 0.09933977570741961,
 '定义型问题': 0.054766982662734574,
 '数值型问题': 0.21940467565333632,
 '篇章型问题': 0.09417635233731644,
 '观点型问题': 0.11202383746441218}

In [107]:
df_number_q = df_question[df_question['question_type']=='数值型问题']

In [111]:
num_set = set('0123456789０１２３４５６７８９零一二两三四五六七八九个十百千万亿')
fake_num_mask = df_number_q['answer'].apply(lambda s: len(set(s).intersection(num_set))==0 or len(s)>20)
fake_num = df_number_q[fake_num_mask]
fake_num.to_csv('./data/fake_num_q.csv',
                columns=['questions_id', 'article_id', 'question_type', 'question', 'answer'], index=False, sep='\t')

,article_content,article_id,article_title,article_type
4671,More than one in ten bankers and traders in th...,34955,European bankers to lose out as pay-outs slashed,新闻